<div class="mt-5 containerfluid about-style" id="aboutid">
<div class="row">
    <div class="mx-auto col-md-10 col-12">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow your Business</p>
        <div class="mt-5 row">
            {{!-- 6-6 gap  --}}
            {{!-- left side  --}}
             <div class=" col-md-6 col-12 hero-text">
                 <figure>
                    <img src="images/about.svg" alt="hero-section">
                 </figure>
            </div>
            {{!-- right side  --}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-cenetr align-items-start flex-column">
                <h1> We Will Help You To</h1>
                <h1> Grow Your Business </h1>
                <p> We are the team of <span class="bold-style"> professional Developer 👍</span></p>
                <button class="btn-style btn-primary"> Read-More</button>
            </div>
        </div>
    </div>
</div>
</div>